{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>李繁 的博客</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">

    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.mockjax.js' %}"></script>

    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
</head>

<body id="page">
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>李繁</b>&nbsp;的博客</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="联系我">联系我</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="Search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h1 class="page-title">联系我</h1>
                <article class="post">
                    <div class="entry-content clearfix">
                        <form action="{% url 'blog:contact' %}" method="post" class="contact-form" id="contact-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <label for="{{ form.name.id_for_label }}">姓名:</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}

                                    <label for="{{ form.email.id_for_label }}">邮箱:</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}

                                    <label for="{{ form.subject.id_for_label }}">主题:</label>
                                    {{ form.subject }}
                                    {{ form.subject.errors }}

                                    <label for="{{ form.message.id_for_label }}">内容:</label>
                                    {{ form.message }}
                                    {{ form.message.error }}
                                    <button class="btn-send btn-5 btn-5b ion-ios-paperplane"
                                            onsubmit="submitContact();"><span>提交</span></button>
                                </div>
                            </div>    <!-- row -->
                        </form>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p style="margin-bottom: 2px;">XICP备1700XXXX号 | 网站已经运行：126天</p>
                    <p>总访问量：29740次 | 独立IP：866个 | 今日访问量：555次</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="{% url 'blog:about' %}">关于</a></li>
            <li><a href="{% url 'blog:contact' %}">联系我</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>
<script>

    $("#contact-form").submit(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'blog:contact' %}",
            data: $('#contact-form').serialize(),
            async: false,
            error: function (e) {
                alert("异常，稍后再试!");
            },
            success: function (data) {
                console.log(data['data']);
                alert(data['data']);
            }
        });
        return false;
    });


</script>

</body>
</html>
