{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>VanBlog-{{ post.title }}</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- cdn -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">

    <!-- js -->
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>

    {#    <! -- 百度统计 -->#}
    {#    <script>#}
    {#        var _hmt = _hmt || [];#}
    {#        (function () {#}
    {#            var hm = document.createElement("script");#}
    {#            hm.src = "https://hm.baidu.com/hm.js?d6df38850a800bda535335a8363bc401";#}
    {#            var s = document.getElementsByTagName("script")[0];#}
    {#            s.parentNode.insertBefore(hm, s);#}
    {#        })();#}
    {#    </script>#}

</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>Van</b>Blog</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="主页">主页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="留言">留言</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon"
                                                       class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input type="search" name="q" placeholder="Search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">


    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <article class="post post-{{ post.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category">
                                <a class="fa fa-tag"
                                   href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}
                                </a>
                            </span>

                            <span class="post-date"><a class="fa fa-calendar"
                                                       href="{% url 'blog:archives' post.create_time.year post.create_time.month %}"><time
                                    class="entry-date"
                                    datetime="{{ post.create_time }}">{{ post.create_time }}</time></a></span>
                            <span class="post-author"><a href="#"
                                                         class="fa fa-user">{{ post.author.nickname }}</a></span>
                            {#                            <span class="comments-link"><a href="#">{{ comment_list.count }} 评论</a></span>#}
                            <span class="views-count"><a href="#" class="fa fa-eye">{{ post.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>
                            {{ post.body | safe }}
                        </p>
                    </div>

                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_tools_1"></a>
                        <a class="jiathis_button_tools_2"></a>
                        <a class="jiathis_button_tools_3"></a>
                        <a class="jiathis_button_tools_4"></a>
                        <a href="http://www.jiathis.com/share?uid=2136200"
                           class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript">
                        var jiathis_config = {data_track_clickback: 'true'};
                    </script>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2136200"
                            charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </article>

                <!-- 评论 -->
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表你的评论</h3>
                    <form action="#" method="post" class="comment-form">
                        <div class="row">
{#                            <div class="col-md-4">#}
{#                                <label for="id_name">名字：</label>#}
{#                                <input type="text" id="id_name" name="name" required>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <label for="id_email">邮箱：</label>#}
{#                                <input type="email" id="id_email" name="email" required>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <label for="id_url">网址：</label>#}
{#                                <input type="text" id="id_url" name="url">#}
{#                            </div>#}
                            <div class="col-md-12">
                                <label for="id_comment">评论：</label>
                                <textarea name="comment" id="id_comment" required></textarea>
                                <button type="submit" class="comment-btn">发表</button>
                            </div>
                            <input type="hidden" name="pid" value="" id="pid">
                            <input type="hidden" name="reply_to" value="" id="reply_to">
                        </div>    <!-- row -->
                    </form>

                    <div class="comment-list-panel">
                        <h3>评论列表，共 <span>4</span> 条评论</h3>
                        <div class="comment-list">

                            <div class="comment-item">
                                <span class="nickname">追梦人物</span>
                                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月12日 14:56</time>
                                <div class="text">
                                    文章观点又有道理又符合人性，这才是真正为了表达观点而写，不是为了迎合某某知名人士粉丝而写。我觉得如果琼瑶是前妻，生了三孩子后被一不知名的女人挖了墙角，我不信谁会说那个女人是追求真爱，说同情琼瑶骂小三的女人都是弱者。
                                </div>
                                <div class="comment-tool">
                                    <a class="fa fa-thumbs-o-up">3赞</a>
                                    <a class="fa fa-thumbs-o-down">4踩</a>
                                    <a class="fa fa-comment-o" href="#id_comment">回复</a>
                                </div>


                                <div class="comment-sub">
                                    <span class="nickname">追梦人物</span>
                                    <span class="nickname fa fa-reply">fanlion</span>
                                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月12日 14:56
                                    </time>
                                    <div class="text">
                                        文章观点又有道理又符合人性，这才是真正为了表达观点而写，不是为了迎合某某知名人士粉丝而写。我觉得如果琼瑶是前妻，生了三孩子后被一不知名的女人挖了墙角，我不信谁会说那个女人是追求真爱，说同情琼瑶骂小三的女人都是弱者。
                                    </div>
                                    <div class="comment-tool">
                                        <a class="fa fa-thumbs-o-up">3赞</a>
                                        <a class="fa fa-thumbs-o-down">4踩</a>
                                        <a class="fa fa-comment-o" href="#id_comment">回复</a>
                                    </div>
                                </div>

                                <div class="comment-sub">
                                    <span class="nickname">追梦人物</span>
                                    <span class="nickname fa fa-reply">fanlion</span>
                                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月12日 14:56
                                    </time>
                                    <div class="text">
                                        文章观点又有道理又符合人性，这才是真正为了表达观点而写，不是为了迎合某某知名人士粉丝而写。我觉得如果琼瑶是前妻，生了三孩子后被一不知名的女人挖了墙角，我不信谁会说那个女人是追求真爱，说同情琼瑶骂小三的女人都是弱者。
                                    </div>
                                    <div class="comment-tool">
                                        <a class="fa fa-thumbs-o-up">3赞</a>
                                        <a class="fa fa-thumbs-o-down">4踩</a>
                                        <a class="fa fa-comment-o" href="#id_comment">回复</a>
                                    </div>
                                </div>

                            </div>

                            <div class="comment-item">
                                <span class="nickname">zmrenwu</span>
                                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月11日 23:56</time>
                                <div class="text">
                                    本能有可能会冲破格局，但格局有时候也会拘住本能。
                                </div>
                                <div class="comment-tool">
                                    <a class="fa fa-thumbs-o-up">3赞</a>
                                    <a class="fa fa-thumbs-o-down">4踩</a>
                                    <a class="fa fa-comment-o" href="#id_comment">回复</a>
                                </div>
                            </div>

                            <div class="comment-item">
                                <span class="nickname">蝙蝠侠</span>
                                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月9日 8:56</time>
                                <div class="text">
                                    其实真理一般是属于沉默的大多数的。那些偏激的观点只能吸引那些同样偏激的人。前几年琼瑶告于妈抄袭，大家都表示大快人心，说明吃瓜观众都只是就事论事，并不是对琼瑶有偏见。
                                </div>
                                <div class="comment-tool">
                                    <a class="fa fa-thumbs-o-up">3赞</a>
                                    <a class="fa fa-thumbs-o-down">4踩</a>
                                    <a class="fa fa-comment-o" href="#id_comment" onclick="">回复</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </main>
        </div>
    </div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>网站已经运行：{% get_run_day_count %}天</p>
                    {% get_total_visit_count as total_count %}
                    <p>总访问量：{{ total_count.total_visit }}次 | 今日访问量：{% get_today_visit_count %}次 | 游客IP：{% get_ip_count %}个</p>
                    <p class="social">
                        <a href="http://github.com/fanlion">
                            <span class="fa fa-github fa-github" style="font-size: 20px;"></span>

                        </a>
                        <a href="http://www.jianshu.com/u/634dfeefc2c3">
                            <span class="fa fa-book" style="font-size: 20px;"></span>
                        </a>
                        <a href="http://weibo.com/u/3775148554">
                            <span class="fa fa-weibo" style="font-size: 20px;"></span>
                        </a>

                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="{% url 'blog:about' %}">关于</a></li>
            <li><a href="{% url 'blog:contact' %}">留言</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>
<script>

    $(document).ready(function () {
        function reply(pid, replay_to) {
            $('#pid').val(pid);
            $('#reply_to').val(replay_to);

        }

    });
</script>
</body>
</html>
