{% load staticfiles %} {% load blog_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>VanBlog-{{ post.title }}</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- cdn -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">

    <!-- js -->
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <style>

    </style>

</head>

<body>
<!-- 粒子效果 -->
<div id="particles-js"></div>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>Van</b>Blog</a></h1>
                </div>
            </div>
            <!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="主页">主页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="留言">留言</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon"
                                                       class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input type="search" name="q" placeholder="Search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">


    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <article class="post post-{{ post.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>
                        </h1>
                        <div class="entry-meta">
                                <span class="post-category">
                                <a class="fa fa-tag"
                                   href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}
                                </a>
                            </span>

                            <span class="post-date"><a class="fa fa-calendar"
                                                       href="{% url 'blog:archives' post.create_time.year post.create_time.month %}"><time
                                    class="entry-date"
                                    datetime="{{ post.create_time }}">{{ post.create_time }}</time></a></span>
                            <span class="post-author"><a href="#"
                                                         class="fa fa-user">{{ post.author.nickname }}</a></span>
                            {# <span class="comments-link"><a href="#">{{ comment_list.count }} 评论</a></span>#}
                            <span class="views-count"><a href="#" class="fa fa-eye">{{ post.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>
                            {{ post.body | safe }}
                        </p>
                    </div>

                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_tools_1"></a>
                        <a class="jiathis_button_tools_2"></a>
                        <a class="jiathis_button_tools_3"></a>
                        <a class="jiathis_button_tools_4"></a>
                        <a href="http://www.jiathis.com/share?uid=2136200"
                           class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                </article>

                <!-- 评论 -->
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表你的评论</h3>
                    <div class="comment-form">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="form-require">*</span>
                                <label for="id_name">名字：</label>
                                <input type="text" id="id_name" name="name" placeholder="你的大名" required>
                            </div>
                            <div class="col-md-4">
                                <span class="form-require">*</span>
                                <label for="id_email">邮箱：</label>
                                <input type="email" id="id_email" name="email" placeholder="你的邮箱(不会公开)" required>
                            </div>
                            <div class="col-md-4">
                                <label for="id_url">网址：</label>
                                <input type="url" id="id_url" name="url" placeholder="个人主页（没有就算了)">
                            </div>
                            <div class="col-md-12">
                                <span class="form-require">*</span>
                                <label for="id_comment">评论：</label>
                                <textarea name="comment" id="id_comment" placeholder="你的伟大评论" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <span class="form-require">*</span>
                                <label for="check_code">验证码: </label>
                                <img id="check_code" src="{% url 'blog:check_code' %}" onclick="ChangeCode(this)">
                                <input type="text" id="id_verify_code" name="verify_code" placeholder="验证码(点击验证码可刷新验证码)"
                                       required>
                            </div>

                            <div class="col-md-12">
                                <input id="id_post_id" type="hidden" value="{{ post.pk }}">
                                <button type="button" class="comment-btn" id="send_comment">发表伟大的评论</button>
                            </div>
                        </div>
                        <!-- row -->
                    </div>

                    <div class="comment-list-panel">
                        <h3>评论列表，共 <span>{{ comments.count }}</span> 条评论</h3>
                        <div class="comment-list">
                            {% for comment in comments %}
                                <div class="comment-item">
                                    <span class="nickname">{{ comment.nick_name }}</span>
                                    <time class="submit-date">{{ comment.created_time }}</time>
                                    <div class="text">
                                        {{ comment.content }}
                                    </div>
                                    <div class="comment-tool">
                                        <a class="fa fa-thumbs-o-up">{{ comment.star }}赞</a>
                                        <a class="fa fa-thumbs-o-down">{{ comment.un_star }}踩</a>
                                    </div>
                                </div>
                            {% empty %}
                                <span>暂无评论</span>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>网站已经运行：{% get_run_day_count %}天</p>
                    {% get_total_visit_count as total_count %}
                    <p>总访问量：{{ total_count.total_visit }}次 | 今日访问量：{% get_today_visit_count %}次 |
                        游客IP：{% get_ip_count %}个</p>
                    <p class="social">
                        <a href="http://github.com/fanlion">
                            <span class="fa fa-github fa-github" style="font-size: 20px;"></span>

                        </a>
                        <a href="http://www.jianshu.com/u/634dfeefc2c3">
                            <span class="fa fa-book" style="font-size: 20px;"></span>
                        </a>
                        <a href="http://weibo.com/u/3775148554">
                            <span class="fa fa-weibo" style="font-size: 20px;"></span>
                        </a>

                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="{% url 'blog:about' %}">关于</a></li>
            <li><a href="{% url 'blog:contact' %}">留言</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>
<script src="{% static 'blog/js/particles.min.js' %}"></script>
<script src="{% static 'blog/js/particles-app.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#send_comment').click(function () {
            var nick_name = $('#id_name').val();
            var email = $('#id_email').val();
            var home_url = $('#id_url').val();
            var content = $('#id_comment').val();
            var verify_code = $('#id_verify_code').val();
            var post_id = $('#id_post_id').val();
            console.log(verify_code);
            $.ajax({
                url: '{% url "comments:comment" %}',
                type: 'POST',
                dataType: 'json',
                data: {
                    "nick_name": nick_name,
                    "email": email,
                    "home_url": home_url,
                    "verify_code": verify_code,
                    "content": content,
                    "post_id": post_id
                },
                success: function (data) {
                    window.location.reload();
                    alert(data.result);
                },
                error: function () {
                    alert('异常, 未能发表伟大评论');
                }
            });
        });
    });

    function ChangeCode(ths) {
        var new_url = $('#check_code').attr('src').split('?')[0] + '?' + Math.random();
        ths.src = new_url;
    }

</script>
</body>

</html>